@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
header{
    width: 100%;
    padding: 0.5rem;
    background: linear-gradient(to left,rgb(2, 2, 68),rgb(60, 60, 133),rgb(2, 2, 68),rgb(60, 60, 133),rgb(2, 2, 68)) ;
    

    .title{
        width: 100%;
        font-family: "Poppins", serif;
        font-weight: 300;
        font-style: normal;
        display: flex;
        padding: 0.5rem;
        align-items: center;
        justify-content: center;
        color: white;
    }
    .new-contact-section{
        width:100%;
        padding:0.2rem;
        display: flex;
        align-items: center;
        justify-content: end;

        h3{
            padding: 1rem;
            background: linear-gradient(to left,purple,rgb(122, 57, 122),purple);
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            border-radius: 15px;
            border-left: 1px solid white;
            border-bottom: 1px solid white;

            &:hover{
                background-color: rgb(148, 43, 148);
            }
        }

        
    }

}